.advantages {
  .advantages__title {
    font-size: 39px;
    line-height: 1.154;
    letter-spacing: 0px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .advantages__item {
    display: flex;
    align-items: center;
    border: 0;
    font-size: 100%;
    font: inherit;
    padding-left: 30px;
    margin-bottom: 15px;
  }
}
.description {
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: 0px;
  margin-top: 40px;
  .description__text {
    font-weight: 400;
    padding-top: 20px;
  }
}
.advantages__icon {
  margin-right: 15px;
  fill: black;
  background-color: blue;
  border: 1px solid transparent;
  border-radius: 50%;
}
