.header {
  background-color: $header-color;
  .header__link {
    display: flex;
    justify-content: center;
  }
}
.site-nav__link {
  color: $primary-text-color;
}
.container.header {
  padding-top: 0;
}
.header__position {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button__burger {
  width: 40px;
  height: 40px;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 999;
}
.burger__icon {
  justify-content: center;
  align-items: center;
  margin: 0;
}
.site-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: blue;
  transform: translateX(100%);
}
.is-open {
  transform: translateX(0);
}
