.header {
  background-color: $header-color;
  .header__link {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
.site-nav__link {
  color: $primary-text-color;
}
.container.header {
  padding-top: 0;
}
