.hero {
  background-image: url(../images/bgc-hero.jpg);
  background-size: cover;
  width: 100vw;
  height: 175px;
  .hero__title {
    text-align: center;
    padding-top: 70px;
  }
}
.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
