.team__img {
  width: calc(100vw - 30px);
  height: 100%;
  margin-bottom: 20px;
}
.team__name {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 4px;
}
.team__post {
  text-align: center;
  margin-bottom: 20px;
}
.team-bgc {
  background-color: teal;
}
